@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    /* margin: 0; */
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
main{
    background-color: maroon;
    height: 100%;
    width: 100%;
}
.main h1{
    text-align: center;
    color: white;
   padding-top: 40px;
   font-size: 65px;
}
.mine{
    text-align: center;
    color:rgb(192, 189, 189);
    margin-top: 8px;
}
.image{
    background-color: red;
    background-image: url(Images/1\ \(1\).jpg);
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
}
.image .i{
  text-align: center;
}
.caption{
    text-align: center;
    color: rgb(192, 189, 189);
}
section{
    padding: 20px;
 
    color: white;
    width:600px;
    margin: 20px auto 0;
}
section h2{
    text-align: center;
    margin-bottom:50px ;
}
blockquote{
width: 600px;
/* background-color: aqua; */
margin: 50px auto;
}
.height{
    width: 80%;
    /* background-color: blueviolet; */
    text-align: center;
    margin: 0 auto 20px;
    color: white;
}
footer{
    text-align: center;
    color: white;
    padding: 10px;
}