    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); body { font-family: 'Poppins', sans-serif; font-size: 1rem; line-height: 1.5; text-align: center; color: #3a3a3a; margin: 0; } h1 { font-size: 4rem; margin-bottom: 0; } #title{ color: #fff; } .man{ color: #c7c2c2; } .lis{ color: #fff; } @media (max-width: 460px) { h1 { font-size: 3.5rem; line-height: 1.2; } } h2 { font-size: 3.25rem; } a { color: #477ca7; } a:visited { color: #74638f; } #main { margin: 30px 8px; padding: 15px; border-radius: 5px; background: rgb(138, 7, 7); } @media (max-width: 460px) { #main { margin: 0; } } img { max-width: 100%; display: block; height: auto; margin: 0 auto; } #img-div { background-image: url(1.jpg); background-blend-mode:overlay; background-size: cover; background-color: rgb(124, 21, 21); padding: 10px; margin: 0; } #img-caption { margin: 15px 0 5px 0; color: #fff; } 
body{

    font-family: 'Poppins', sans-serif;
    color: white;
}
.main{
    background-color: rgb(122, 6, 6); 
    border-radius: 5px;
    padding: 30px;
    padding-top: 30px 0 0;


}
h1{
    text-align: center;
    font-weight: bolder;
    font-size: 4rem;
    padding: 0px;
}

.image{
    background-image: url(Images/1\ \(1\).jpg);
    background-position: center;
    /* width: 1280px;
    height:700px; */
    background-blend-mode:overlay; 
    background-size: cover;
    background-color: rgb(122, 6, 6) ;

}

.caption{
    text-align: center;
  padding: 15px;
}
.list{
padding: 0 350px;
display: list-item;
margin-top: 16px;
margin-right: 0px;
margin-bottom: 16px;
margin-left: 0px;
line-height: 1.6;
list-style-type: disc;
text-align: justify;
}

.quote{
    margin-right: 0px;
    margin-bottom: 16px;
    margin-left: 0px;
    line-height: 1.6;
    list-style-type: disc;
    text-align: justify;
    }   

.height{
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    text-align: center;
    margin-left: 200px;
 }
/* @media (max-width: 460px) { #img-caption { font-size: 1.4rem; } } #headline { margin: 50px 0; text-align: center; } ul { max-width: 550px; margin: 0 auto 50px auto; text-align: left; line-height: 1.6; } li { margin: 16px 0; } blockquote { font-style: italic; max-width: 545px; margin: 0 auto 50px auto; text-align: left; } */